.switch__label {
  width: 37px;
  position: relative;
  display: inline-block;
  padding-top: 3px;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 7px;
  height: 14px;
  background-color: rgba(34, 31, 31, 0.26);
  -webkit-transition: all 0.1s 0.4s;
  -moz-transition: all 0.1s 0.4s;
  -ms-transition: all 0.1s 0.4s;
  -o-transition: all 0.1s 0.4s;
  transition: all 0.1s 0.4s;
  overflow: hidden;
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;

  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.switch__input {
  display: none;
}
.switch__circle {
  display: block;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}
.switch__input:checked ~ .switch__circle {
  left: 18px;
  background-color: rgb(26, 115, 232);
}
.switch__input:checked ~ .switch__content {
  border-color: transparent;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.switch__input:checked ~ .switch__content:after {
  background-color: rgb(134, 179, 236);
  width: 100%;
}